.emoji_container {
  /* position: absolute;
  left: 0;
  top: -100px;
  width: 70%;
  height: 100px;
  background: #fff;
  overflow-y: auto; */
}
.emoji_box {
  position: absolute;
  left: 0;
  bottom: 35px;
  width: 100%;
  max-height: 200px;
  min-height: 150px;
  background: #fff;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.emoji_item {
  display: inline-block;
  width: 25px;
  height: 25px;
}
.emoji_item:hover {
  transform: scale(1.2);
}
